<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.pythonistas.akrellm"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" >      
      <service android:name="AKrellmWallPaperService" 
               android:enabled="true"
               android:permission="android.permission.BIND_WALLPAPER"
               android:label="aKrellm Live Wallpaper">
        <intent-filter>
          <action android:name="android.service.wallpaper.WallpaperService" />
        </intent-filter>
        <meta-data android:name="android.service.wallpaper" 
                   android:resource="@xml/lwp" />
      </service>
      <activity android:label="@string/app_name" 
                android:name=".AKrellmPreferencesActivity"
                android:theme="@android:style/Theme.WallpaperSettings"
                android:exported="true" />
    </application>
    <uses-sdk android:minSdkVersion="10" />
    <uses-feature android:name="android.software.live_wallpaper"
                  android:required="true" />
</manifest> 
